<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-img src="assets/img/home.jpg" style="width: 40px; height: 40px; padding: 5px;" ></ion-img> -->
    <ion-title >Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="pt-3">Bienvenido a mi {{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button class="button-gallery" (click)="getGallery()">Ir a galeria</ion-button>
    <app-loader *ngIf="myLoading"></app-loader>
</ion-content>
